<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <strong>{{this.title}}</strong> - ${{this.price}}
                <br>
                Categoria: {{this.category}}
                <br>
                <a href="/products/{{this._id}}">Ver detalle</a>
            </li>
            <hr>
        {{/each}}
    </ul>

    <br>

    <div>
        {{#if prevLink}}
            <a href="{{prevLink}}">Pag. Anterior</a>
        {{/if}}

        {{#if nextLink}}
            <a href="{{nextLink}}">Pag. Siguiente</a>
        {{/if}}
    </div>
</body>
</html>